<div class="course-card">
    <div class="course-card__header">
   {{#if course.image}}
        <img src="{{course.image}}" alt="{{course.title}}">
    {{else}}
        <img src="/images/default-course.png" alt="{{course.title}}">
    {{/if}}
    </div>
    <div class="course-card__body">
        <h2>{{course.title}}</h2>
        <p>{{course.description}}</p>
    </div>
    <div class="course-card__footer">
        <a href="/courses/{{course.id}}" class="btn btn-primary">View Course</a>
    </div>
</div>