<div class="row">
    <div class="col-auto">
        <h1 style="font-size: 28px;">Welcome, {{name}}!</h1>
    </div>
</div>

<div class="row mt-4">
    {{#if courses.length}}
    <div class="col-md-6 project-list">
        <h3 class="subtitle is-info has-text-link has-text-centered">Current Courses:</h3>
        {{#each courses as |course|}}
        <div class="row mb-2 table is-bordered pb-1 pb-1 pt-2 pb-0">
            <div class="col-md-9">
                <h4><a href="/courses/course/{{course.id}}">{{course.classname}}</a></h4>
            </div>
            <div class="col-md-3">
                <a class="btn btn-sm btn-darkgrey" href="/courses/course/{{course.id}}" data-id-put="{{course.id}}"><i
                        class="fa fa-edit"></i></a>
                <button class="btn btn-sm btn-danger" data-id-del="{{course.id}}"><i class="fa fa-trash"></i></button>
    
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
    <div class="col-md-6">
        <h3 class="subtitle is-info has-text-link has-text-centered">Create a New Course:</h3>

        <form class="form new-project-form">
            <div class="form-group">
            <input type="hidden" id="user_id" name="user_id" value={{user_id}}>
            </div>
            <div class="form-group">
                <label for="project-name">Course name:</label>
                <input class="form-input" type="text" id="project-name" name="project-name" />
            </div>
            <div class="form-group">
                <label for="project-desc">Description:</label>
                <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/course.js"></script>
