<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <h3 class="subtitle">Add New Student:</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="firstname">First name:</label>
                <input class="form-input" type="text" id="firstname" name="firstname" />
            </div>
            <div class="form-group">
                <label for="lastname">Last name:</label>
                <input class="form-input" id="lastname" name="lastname"></input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    {{#if students.length}}  
    <div class="col-md-8 project-list">
        <h3 class="subtitle">Current Students:</h3>

        {{#each students as |student|}}
        <div class="row mb-2 table is-bordered pb-1">
            <div class="col-md-10">
                <h4><a href="/students/student/{{student.id}}">{{student.firstname}}, {{student.lastname}}</a></h4>
            </div>
            <div class="col-md-2">
                <a href="/students/student/{{student.id}}">
                <button class="btn btn-sm btn-dark" data-id-put="{{student.id}}">UPDATE</button></a>
                <button class="btn btn-sm btn-danger" data-id-del="{{student.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/addStudent.js"></script>
